# Node
node_modules/
dist/
*.log
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env/
.venv/
env/
venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
